In [21]:
import pandas as pd
import random
import names

In [23]:
df = pd.DataFrame(columns=['Name','Date','Salary'])

In [26]:
for i in range(15):
    df.loc[i, ['Name']] = names.get_full_name()
    #print(names.get_full_name())

In [27]:
from datetime import datetime, timedelta

min_year=1900
max_year=datetime.now().year

start = datetime(min_year, 1, 1, 00, 00, 00)
years = max_year - min_year+1
end = start + timedelta(days=365 * years)

for i in range(15):
    random_date = start + (end - start) * random.random()
    df.loc[i, ['Date']] = random_date
    #print(random_date)

In [28]:
from random import randint

def random_with_N_digits(n):
    range_start = 10**(n-1)
    range_end = (10**n)-1
    return randint(range_start, range_end)

for i in range(15):
    df.loc[i, ['Salary']] = random_with_N_digits(6)
    #print(random_with_N_digits(6))

In [29]:
df.to_csv (r'C:\Users\Ron\Desktop\export_dataframe.csv', index = False, header=True)
print(df)

               Name                        Date  Salary
0    Clarence Davis  1949-12-05 11:48:29.982631  108293
1     Willie Dotson  1983-12-28 16:33:36.425991  657103
2     Tammy Carlone  1995-09-10 18:15:19.745108  998479
3       John Thomas  1981-05-07 10:14:42.683016  965634
4   Francis Roghair  1995-10-02 10:05:50.407159  394622
5      Carolyn Kerr  2000-07-25 01:30:30.095863  174169
6       Janet Guinn  1950-07-18 19:58:40.943837  764061
7     Cheryl Schaal  1956-10-18 16:01:54.247478  595961
8   Sharon Williams  1996-05-24 18:10:47.269232  168481
9       Tina Mcdade  1900-11-26 16:10:51.272560  347008
10      Joshua Sims  1914-08-02 20:20:46.221873  841171
11   Courtney Olson  1909-08-31 07:42:46.793359  474219
12   Teresa Whitley  1915-04-21 00:35:25.524237  215426
13     James Gruber  2012-05-29 02:49:19.531559  847694
14     Paul Preston  1908-05-21 14:02:47.611214  918931